In [5]:
import pandas
import openpyxl
import pypdf

# creating a pdf reader object 
reader = pypdf.PdfReader('City PD Report Data Raw.pdf') 
  
# printing number of pages in pdf file 
print(len(reader.pages)) 
  
# creating a page object 
page = reader.pages[0] 
  
text = page.extract_text()

# Split the text by newline to get each line
lines = text.split('\n')

# The first line is the header
header = lines[0].split()

# The rest are the data rows
data = [line.split() for line in lines[1:]]

# Create a DataFrame
df = pandas.DataFrame(data, columns=header)

# Display the DataFrame
display(df)

439

,Report_No,CAD_Call_No,Reported_Date,Year,Month,Nature_of_Call,Involvement,Sex,Age
0,140000009,140100076,1/1/2014,2014,JanASLT,DV,VIC,M,24
1,140000022,140100154,1/1/2014,2014,JanASLT,DV,VIC,F,32
2,140000028,140100175,1/1/2014,2014,JanCCABUSE,VIC,M,48,None
3,140000029,140100188,1/1/2014,2014,JanASLT,DV,VIC,F,35
4,140000029,140100188,1/1/2014,2014,JanASLT,DV,VIC,M,35
5,140000030,140100181,1/1/2014,2014,JanASLT,AGG,VIC,M,24
6,140000040,140100295,1/1/2014,2014,JanASLT,DV,VIC,F,21
7,140000061,140100446,1/1/2014,2014,JanASLT,DV,VIC,F,24
8,140000063,140100465,1/1/2014,2014,JanASLT,DV,VIC,F,23
9,140000064,140100464,1/1/2014,2014,JanASLT,DV,VIC,M,37
10,140000070,140100484,1/1/2014,2014,JanASLT,AGG,VIC,M,33
11,140000070,140100484,1/1/2014,2014,JanASLT,AGG,VIC,M,34
12,140000099,140100719,1/2/2014,2014,JanASLT,DV,VIC,F,21
13,140000151,140101119,1/3/2014,2014,JanASLT,DV,VIC,F,27
14,140000165,140101203,1/3/2014,2014,JanASLT,DV,VIC,F,24
15,140000170,140101239,1/3/2014,2014,JanASLT,DV,VIC,F,29
16,140000171,140101252,1/3/2014,2014,JanASLT,DV,VIC,F,23
17,140000186,140101384,1/3/2014,2014,JanASLT,DV,VIC,F,24
18,140000197,140101485,1/3/2014,2014,JanASLT,DV,VIC,F,33
19,140000247,140101876,1/4/2014,2014,JanASLT,DV,VIC,F,30
20,140000279,140102170,1/5/2014,2014,JanASLT,DV,VIC,F,21
21,140000322,140102369,1/5/2014,2014,JanASLT,DV,VIC,F,39
22,140000335,140102438,1/5/2014,2014,JanASLT,DV,VIC,F,32
23,140000355,140102621,1/6/2014,2014,JanASLT,DV,VIC,F,30
24,140000363,140102642,1/6/2014,2014,JanASLT,DV,VIC,F,45
25,140000370,140102675,1/6/2014,2014,JanASLT,DV,VIC,M,45
26,140000376,140102678,1/6/2014,2014,JanASLT,DV,VIC,F,28
27,140000383,140102729,1/6/2014,2014,JanASLT,DV,VIC,F,24
28,140000405,140102931,1/7/2014,2014,JanASLT,DV,VIC,F,53
29,140000408,140102956,1/7/2014,2014,JanASLT,DV,VIC,M,41
30,140000417,140102992,1/7/2014,2014,JanASLT,DV,VIC,M,57
31,140000424,140103013,1/7/2014,2014,JanASLT,DV,VIC,F,29
32,140000438,140103046,1/7/2014,2014,JanASLT,DV,VIC,F,63
33,140000439,140103068,1/7/2014,2014,JanUNLAW,REST,VIC,F,23
34,140000445,140103083,1/7/2014,2014,JanASLT,DV,VIC,F,47
35,140000525,140103227,1/7/2014,2014,JanASLT,DV,VIC,F,20
36,140000534,140103358,1/8/2014,2014,JanASLT,DV,VIC,F,52
37,140000540,140103404,1/8/2014,2014,JanASLT,DV,VIC,F,49
38,140000561,140103488,1/8/2014,2014,JanASLT,DV,VIC,F,46
39,140000567,140103523,1/8/2014,2014,JanASLT,DV,VIC,F,22
40,140000641,140103880,1/9/2014,2014,JanASLT,DV,VIC,F,60
41,140000654,140103930,1/9/2014,2014,JanASLT,DV,VIC,F,26
42,140000658,140103954,1/9/2014,2014,JanASLT,DV,VIC,F,29
43,140000659,140103943,1/9/2014,2014,JanASLT,DV,VIC,M,40
44,140000672,140104062,1/9/2014,2014,JanASLT,DV,VIC,F,49
45,140000679,140104114,1/9/2014,2014,JanASLT,DV,VIC,F,30

Extracting data from the first page, we can see that my read encounters an error in the month column.

The month column and nature of call column are not properly delimited in the PDF file (or otherwise not working well with pyPDF) so I need to come up with a custom solution to ensure data was separted across each column header correctly.

Fortunately, each month is always a 3-character string.

In [7]:
# creating a pdf reader object 
reader = pypdf.PdfReader('City PD Report Data Raw.pdf') 
  
# creating a page object 
page = reader.pages[0] 
  
# extracting text from page 
text = page.extract_text()

# Split the text by newline to get each line
lines = text.split('\n')

# The first line is the header
header = lines[0].split()

# List to store data rows
data = []

# Process each line after the header
for line in lines[1:]:
    # Split by spaces, but we will handle Month and Nature_of_Call manually
    parts = line.split()
    
    # Extract columns before Month
    row = parts[:4]  # Report_No, CAD_Call_No, Reported_Date, Year
    
    # Extract the Month from the 5th part if it starts with a capital letter (e.g., Jan, Feb)
    month = parts[4][:3]  # Assuming the month is always in the first 3 characters
    row.append(month)
    
    # The remaining part of the 5th element should be the beginning of "Nature_of_Call"
    nature_of_call = parts[4][3:] 
    
    # Check if the next part is already part of "Nature_of_Call" or a new column
    if len(parts) > 5 and parts[5].isupper():
        nature_of_call += " " + parts[5]
        remaining_parts = parts[6:]
    else:
        remaining_parts = parts[5:]

    # Add the Nature_of_Call to the row
    row.append(nature_of_call)
    
    # Add remaining columns
    row.extend(remaining_parts)
    
    # Add the processed row to the data list
    data.append(row)

# Create a DataFrame
df = pandas.DataFrame(data, columns=header)

# Display the DataFrame
display(df)

,Report_No,CAD_Call_No,Reported_Date,Year,Month,Nature_of_Call,Involvement,Sex,Age
0,140000009,140100076,1/1/2014,2014,Jan,ASLT DV,VIC,M,24
1,140000022,140100154,1/1/2014,2014,Jan,ASLT DV,VIC,F,32
2,140000028,140100175,1/1/2014,2014,Jan,CCABUSE VIC,M,48,None
3,140000029,140100188,1/1/2014,2014,Jan,ASLT DV,VIC,F,35
4,140000029,140100188,1/1/2014,2014,Jan,ASLT DV,VIC,M,35
5,140000030,140100181,1/1/2014,2014,Jan,ASLT AGG,VIC,M,24
6,140000040,140100295,1/1/2014,2014,Jan,ASLT DV,VIC,F,21
7,140000061,140100446,1/1/2014,2014,Jan,ASLT DV,VIC,F,24
8,140000063,140100465,1/1/2014,2014,Jan,ASLT DV,VIC,F,23
9,140000064,140100464,1/1/2014,2014,Jan,ASLT DV,VIC,M,37
10,140000070,140100484,1/1/2014,2014,Jan,ASLT AGG,VIC,M,33
11,140000070,140100484,1/1/2014,2014,Jan,ASLT AGG,VIC,M,34
12,140000099,140100719,1/2/2014,2014,Jan,ASLT DV,VIC,F,21
13,140000151,140101119,1/3/2014,2014,Jan,ASLT DV,VIC,F,27
14,140000165,140101203,1/3/2014,2014,Jan,ASLT DV,VIC,F,24
15,140000170,140101239,1/3/2014,2014,Jan,ASLT DV,VIC,F,29
16,140000171,140101252,1/3/2014,2014,Jan,ASLT DV,VIC,F,23
17,140000186,140101384,1/3/2014,2014,Jan,ASLT DV,VIC,F,24
18,140000197,140101485,1/3/2014,2014,Jan,ASLT DV,VIC,F,33
19,140000247,140101876,1/4/2014,2014,Jan,ASLT DV,VIC,F,30
20,140000279,140102170,1/5/2014,2014,Jan,ASLT DV,VIC,F,21
21,140000322,140102369,1/5/2014,2014,Jan,ASLT DV,VIC,F,39
22,140000335,140102438,1/5/2014,2014,Jan,ASLT DV,VIC,F,32
23,140000355,140102621,1/6/2014,2014,Jan,ASLT DV,VIC,F,30
24,140000363,140102642,1/6/2014,2014,Jan,ASLT DV,VIC,F,45
25,140000370,140102675,1/6/2014,2014,Jan,ASLT DV,VIC,M,45
26,140000376,140102678,1/6/2014,2014,Jan,ASLT DV,VIC,F,28
27,140000383,140102729,1/6/2014,2014,Jan,ASLT DV,VIC,F,24
28,140000405,140102931,1/7/2014,2014,Jan,ASLT DV,VIC,F,53
29,140000408,140102956,1/7/2014,2014,Jan,ASLT DV,VIC,M,41
30,140000417,140102992,1/7/2014,2014,Jan,ASLT DV,VIC,M,57
31,140000424,140103013,1/7/2014,2014,Jan,ASLT DV,VIC,F,29
32,140000438,140103046,1/7/2014,2014,Jan,ASLT DV,VIC,F,63
33,140000439,140103068,1/7/2014,2014,Jan,UNLAW REST,VIC,F,23
34,140000445,140103083,1/7/2014,2014,Jan,ASLT DV,VIC,F,47
35,140000525,140103227,1/7/2014,2014,Jan,ASLT DV,VIC,F,20
36,140000534,140103358,1/8/2014,2014,Jan,ASLT DV,VIC,F,52
37,140000540,140103404,1/8/2014,2014,Jan,ASLT DV,VIC,F,49
38,140000561,140103488,1/8/2014,2014,Jan,ASLT DV,VIC,F,46
39,140000567,140103523,1/8/2014,2014,Jan,ASLT DV,VIC,F,22
40,140000641,140103880,1/9/2014,2014,Jan,ASLT DV,VIC,F,60
41,140000654,140103930,1/9/2014,2014,Jan,ASLT DV,VIC,F,26
42,140000658,140103954,1/9/2014,2014,Jan,ASLT DV,VIC,F,29
43,140000659,140103943,1/9/2014,2014,Jan,ASLT DV,VIC,M,40
44,140000672,140104062,1/9/2014,2014,Jan,ASLT DV,VIC,F,49
45,140000679,140104114,1/9/2014,2014,Jan,ASLT DV,VIC,F,30

This looks better. However, you can see a pretty egregious error in row two with column misalignment. The Nature of Call column was tricky, because the string could be in any length, wasn't clearly delimited, and was concatenated with data I needed to extract for my analysis. I came up with a better solution, relaying on the fact that this report contained exclusively victims ("Involvement: VIC") below:

In [8]:
# creating a pdf reader object 
reader = pypdf.PdfReader('City PD Report Data Raw.pdf') 
  
# creating a page object 
page = reader.pages[0] 
  
# extracting text from page 
text = page.extract_text()

# Split the text by newline to get each line
lines = text.split('\n')

# The first line is the header
header = lines[0].split()

# List to store data rows
data = []

# Process each line after the header
for line in lines[1:]:
    # Split by spaces
    parts = line.split()
    
    # Extract columns before Month
    row = parts[:4]  # Report_No, CAD_Call_No, Reported_Date, Year
    
    # Extract the Month from the 5th part
    month = parts[4][:3]  # Assuming the month is always in the first 3 characters
    row.append(month)
    
    # Extract the Nature_of_Call and Involvement columns
    remainder = parts[4][3:] + " " + " ".join(parts[5:])
    
    # Split the remainder by "VIC" to separate Nature_of_Call and Involvement
    nature_of_call, involvement_sex_age = remainder.split("VIC", 1)
    nature_of_call = nature_of_call.strip()
    
    # Split the involvement, sex, and age
    involvement_sex_age_parts = involvement_sex_age.strip().split()
    
    # Add the Nature_of_Call, Involvement, Sex, and Age columns
    row.append(nature_of_call)
    row.append("VIC")  # since "VIC" is the involvement type
    row.extend(involvement_sex_age_parts)
    
    # Add the processed row to the data list
    data.append(row)

# Create a DataFrame
df = pandas.DataFrame(data, columns=header)

# Display the DataFrame
display(df)

,Report_No,CAD_Call_No,Reported_Date,Year,Month,Nature_of_Call,Involvement,Sex,Age
0,140000009,140100076,1/1/2014,2014,Jan,ASLT DV,VIC,M,24
1,140000022,140100154,1/1/2014,2014,Jan,ASLT DV,VIC,F,32
2,140000028,140100175,1/1/2014,2014,Jan,CCABUSE,VIC,M,48
3,140000029,140100188,1/1/2014,2014,Jan,ASLT DV,VIC,F,35
4,140000029,140100188,1/1/2014,2014,Jan,ASLT DV,VIC,M,35
5,140000030,140100181,1/1/2014,2014,Jan,ASLT AGG,VIC,M,24
6,140000040,140100295,1/1/2014,2014,Jan,ASLT DV,VIC,F,21
7,140000061,140100446,1/1/2014,2014,Jan,ASLT DV,VIC,F,24
8,140000063,140100465,1/1/2014,2014,Jan,ASLT DV,VIC,F,23
9,140000064,140100464,1/1/2014,2014,Jan,ASLT DV,VIC,M,37
10,140000070,140100484,1/1/2014,2014,Jan,ASLT AGG,VIC,M,33
11,140000070,140100484,1/1/2014,2014,Jan,ASLT AGG,VIC,M,34
12,140000099,140100719,1/2/2014,2014,Jan,ASLT DV,VIC,F,21
13,140000151,140101119,1/3/2014,2014,Jan,ASLT DV,VIC,F,27
14,140000165,140101203,1/3/2014,2014,Jan,ASLT DV,VIC,F,24
15,140000170,140101239,1/3/2014,2014,Jan,ASLT DV,VIC,F,29
16,140000171,140101252,1/3/2014,2014,Jan,ASLT DV,VIC,F,23
17,140000186,140101384,1/3/2014,2014,Jan,ASLT DV,VIC,F,24
18,140000197,140101485,1/3/2014,2014,Jan,ASLT DV,VIC,F,33
19,140000247,140101876,1/4/2014,2014,Jan,ASLT DV,VIC,F,30
20,140000279,140102170,1/5/2014,2014,Jan,ASLT DV,VIC,F,21
21,140000322,140102369,1/5/2014,2014,Jan,ASLT DV,VIC,F,39
22,140000335,140102438,1/5/2014,2014,Jan,ASLT DV,VIC,F,32
23,140000355,140102621,1/6/2014,2014,Jan,ASLT DV,VIC,F,30
24,140000363,140102642,1/6/2014,2014,Jan,ASLT DV,VIC,F,45
25,140000370,140102675,1/6/2014,2014,Jan,ASLT DV,VIC,M,45
26,140000376,140102678,1/6/2014,2014,Jan,ASLT DV,VIC,F,28
27,140000383,140102729,1/6/2014,2014,Jan,ASLT DV,VIC,F,24
28,140000405,140102931,1/7/2014,2014,Jan,ASLT DV,VIC,F,53
29,140000408,140102956,1/7/2014,2014,Jan,ASLT DV,VIC,M,41
30,140000417,140102992,1/7/2014,2014,Jan,ASLT DV,VIC,M,57
31,140000424,140103013,1/7/2014,2014,Jan,ASLT DV,VIC,F,29
32,140000438,140103046,1/7/2014,2014,Jan,ASLT DV,VIC,F,63
33,140000439,140103068,1/7/2014,2014,Jan,UNLAW REST,VIC,F,23
34,140000445,140103083,1/7/2014,2014,Jan,ASLT DV,VIC,F,47
35,140000525,140103227,1/7/2014,2014,Jan,ASLT DV,VIC,F,20
36,140000534,140103358,1/8/2014,2014,Jan,ASLT DV,VIC,F,52
37,140000540,140103404,1/8/2014,2014,Jan,ASLT DV,VIC,F,49
38,140000561,140103488,1/8/2014,2014,Jan,ASLT DV,VIC,F,46
39,140000567,140103523,1/8/2014,2014,Jan,ASLT DV,VIC,F,22
40,140000641,140103880,1/9/2014,2014,Jan,ASLT DV,VIC,F,60
41,140000654,140103930,1/9/2014,2014,Jan,ASLT DV,VIC,F,26
42,140000658,140103954,1/9/2014,2014,Jan,ASLT DV,VIC,F,29
43,140000659,140103943,1/9/2014,2014,Jan,ASLT DV,VIC,M,40
44,140000672,140104062,1/9/2014,2014,Jan,ASLT DV,VIC,F,49
45,140000679,140104114,1/9/2014,2014,Jan,ASLT DV,VIC,F,30

Now things are cooking! I was still only dealing with the first page, however. I needed to come up with a strategy to iterate across the remaining 488 pages, which didn't contain any column headers. I tried writing that below.

In [9]:

# creating a pdf reader object 
reader = pypdf.PdfReader('City PD Report Data Raw.pdf') 
  
# Extract headers from the first page
header_page = reader.pages[0]
header_text = header_page.extract_text()
header = header_text.split('\n')[0].split()

# Initialize an empty list to store all data
all_data = []

# Function to process each page and extract data
def process_page(page):
    page_text = page.extract_text()
    lines = page_text.split('\n')

    # Skip the first line since it's the header on the first page, but treat all lines as data on subsequent pages
    data_lines = lines[1:] if page == reader.pages[0] else lines
    
    for line in data_lines:
        parts = line.split()

        # Extract columns before Month
        row = parts[:4]  # Report_No, CAD_Call_No, Reported_Date, Year

        # Extract the Month from the 5th part
        month = parts[4][:3]  # Assuming the month is always in the first 3 characters
        row.append(month)

        # Extract the Nature_of_Call and Involvement columns
        remainder = parts[4][3:] + " " + " ".join(parts[5:])

        # Split the remainder by "VIC" to separate Nature_of_Call and Involvement
        nature_of_call, involvement_sex_age = remainder.split("VIC", 1)
        nature_of_call = nature_of_call.strip()

        # Split the involvement, sex, and age
        involvement_sex_age_parts = involvement_sex_age.strip().split()

        # Add the Nature_of_Call, Involvement, Sex, and Age columns
        row.append(nature_of_call)
        row.append("VIC")  # since "VIC" is the involvement type
        row.extend(involvement_sex_age_parts)

        # Add the processed row to the data list
        all_data.append(row)

# Process all pages in the PDF (starting from page 1 since page 0 was already processed)
for i in range(1, len(reader.pages)):
    process_page(reader.pages[i])

# Create a DataFrame from the accumulated data
df = pandas.DataFrame(all_data, columns=header)

# Display the DataFrame
display(df)

ValueError: not enough values to unpack (expected 2, got 1)

It appears that my "VIC" assumption didn't work. I created an error handling exception that could program the erronous rows into a new dataframe to see what the issue was.

In [6]:
import pandas as pd
import pypdf
import openpyxl

# creating a pdf reader object 
reader = pypdf.PdfReader('City PD Report Data Raw.pdf') 
  
# Extract headers from the first page
header_page = reader.pages[0]
header_text = header_page.extract_text()
header = header_text.split('\n')[0].split()

# Initialize lists to store data
all_data = []
error_data = []

# Function to process each page and extract data
def process_page(page):
    page_text = page.extract_text()
    lines = page_text.split('\n')

    # Skip the first line since it's the header on the first page, but treat all lines as data on subsequent pages
    data_lines = lines[1:] if page == reader.pages[0] else lines
    
    for line in data_lines:
        parts = line.split()

        # Extract columns before Month
        row = parts[:4]  # Report_No, CAD_Call_No, Reported_Date, Year

        # Extract the Month from the 5th part
        month = parts[4][:3]  # Assuming the month is always in the first 3 characters
        row.append(month)

        # Extract the Nature_of_Call and Involvement columns
        remainder = parts[4][3:] + " " + " ".join(parts[5:])

        # Check if "VIC" is present
        if "VIC" in remainder:
            # Split the remainder by "VIC" to separate Nature_of_Call and Involvement
            nature_of_call, involvement_sex_age = remainder.split("VIC", 1)
            nature_of_call = nature_of_call.strip()
            
            # Split the involvement, sex, and age
            involvement_sex_age_parts = involvement_sex_age.strip().split()

            # Add the Nature_of_Call, Involvement, Sex, and Age columns
            row.append(nature_of_call)
            row.append("VIC")  # since "VIC" is the involvement type
            row.extend(involvement_sex_age_parts)

            # Add the processed row to the main data list
            all_data.append(row)
        else:
            # If "VIC" is not found, log the issue and store the row in the error data list
            print(f"'VIC' not found in line: {line}")
            error_data.append(parts)

# Process all pages in the PDF (starting from page 1 since page 0 was already processed)
for i in range(1, len(reader.pages)):
    process_page(reader.pages[i])

# Create a DataFrame from the accumulated data
df_main = pd.DataFrame(all_data, columns=header)

# Create an error DataFrame without headers and allow for nulls
df_errors = pd.DataFrame(error_data)

# Display the DataFrames
print("Main DataFrame:")
display(df_main)

print("Error DataFrame (rows without 'VIC'):")
display(df_errors)

# df_main.to_excel("output.xlsx")

'VIC' not found in line: 160000928 1/12/2016 2016 JanHARAS VIC F 42
'VIC' not found in line: 230013260 6/1/2023 2023 JunSTALKING VIC F 40
Main DataFrame:

,Report_No,CAD_Call_No,Reported_Date,Year,Month,Nature_of_Call,Involvement,Sex,Age
0,140000698,140104335,1/10/2014,2014,Jan,ASLT DV,VIC,F,23
1,140000722,140104434,1/10/2014,2014,Jan,ASLT DV,VIC,F,53
2,140000730,140104477,1/10/2014,2014,Jan,ASLT DV,VIC,F,17
3,140000781,140104861,1/11/2014,2014,Jan,ASLT DV,VIC,F,31
4,140000795,140104977,1/11/2014,2014,Jan,ASLT DV,VIC,M,21
...,...,...,...,...,...,...,...,...,...
20571,240015451,240705745,7/11/2024,2024,Jul,ASLT DV,VIC,F,45
20572,240015452,240705750,7/11/2024,2024,Jul,ASLT DV,VIC,F,25
20573,240015678,240707412,7/15/2024,2024,Jul,ASLT DV,VIC,F,35
20574,240015679,240707430,7/15/2024,2024,Jul,ASLT DV,VIC,F,40
20575,240015778,240708022,7/16/2024,2024,Jul,ASLT DV,VIC,M,51

Error DataFrame (rows without 'VIC'):

           0          1     2            3    4  5   6
0  160000928  1/12/2016  2016     JanHARAS  VIC  F  42
1  230013260   6/1/2023  2023  JunSTALKING  VIC  F  40

*===Solving for Data Read Errors===*

After peeking at the data, it became clear that my "VIC" assumption was good thinking. 

The error dataframe tripped up on missing CAD_Call_No -- in other words, that data represents cases where victims did not call the police, but instead reported the crime directly at a police station.

I came up with a new approach that inserted a null value where CAD_Call_No was missing, with program logic to insert proper values based on a variety of indexing strategies to account for these minor consistency issues in the data.

In [1]:
import pandas as pd
import pypdf
import openpyxl

# creating a pdf reader object 
reader = pypdf.PdfReader('City PD Report Data Raw.pdf') 
  
# Extract headers from the first page
header_page = reader.pages[0]
header_text = header_page.extract_text()
header = header_text.split('\n')[0].split()

# Initialize list to store data in Pandas Series
serialized_data = []

# Create a function to iterate across each page
def process_pages(page):
    page_text = page.extract_text()
    lines = page_text.split('\n')
    # Extract headers
    data_lines = lines[1:] if page == reader.pages[0] else lines

    for line in data_lines:
        # We'll need to index several ways for error handling. Below, we've created space-delimited columns
        space_separated_values = line.split()
        # This causes errors for multiple rows, where there is a space present or missing.

        # Next, we'll manually index the first column
        Report_No = line[0:9]

        # The rest of the row has nulls, variable column lengths, and iffy delimeters.

        # Using several indexing strategies, we can cleanly extract most of the columns. 
        # For right now, we don't actually need nature of offense, if we get stuck on that column

        try:
        # Manually index call numbers using the same manual indexing strategy, to account for nulls. 
            int(line [10:19]) # Validates if a call is present
            CAD_Call_No = line[10:19]

            # If a null is present, it throws off our index below. See exception.
            Reported_Date = space_separated_values[2]
            Year = space_separated_values[3]
            Month = space_separated_values[4][0:3] # slices out the month abbreviation in each jumbled string
            
        except:
        # When a call number is missing, insert a null
            CAD_Call_No = "Null"

            # Because nulls offset the space-delimited index, our try/except modifies the process for the next 3 columns.
            Reported_Date = space_separated_values[1]
            Year = space_separated_values[2]
            Month = space_separated_values[3][0:3] # slices out the month abbreviation in each jumbled string
        
        # Finally, switch to a reverse index slice to cleanly extract the needed columns of Age and Sex

        Age = space_separated_values[-1]
        Sex = space_separated_values[-2]
        Involvement = space_separated_values[-3]

        # Nature_of_Call is not important for our output. For the sake of time, I'm skipping it with this placeholder value. 
        CrimeType_Errors = space_separated_values[-4] #I don't like doing this, but nobody needs data quality here.
        # I want to fix this later, if I have time 

        # Program our columns into a series that can update our empty dataframe.
        row = pd.Series([Report_No, CAD_Call_No, Reported_Date, Year, Month, CrimeType_Errors, Involvement, Sex, Age], index=header)
        serialized_data.append(row) # Stick our series into a list

# Process all pages in the PDF. For performance, the function above only iterates across one page at a time.
for i in range(len(reader.pages)):
    process_pages(reader.pages[i])

# Update the dataframe. 
df = pd.DataFrame(serialized_data, columns=header)

df.to_excel("BetterCityPD.xlsx")

This version of the program was suitable for my work with Social Impact Architects. 

While my read had issues with the "Nature of Call" column, that wasn't important for any of the stakeholders involved and could be skipped. Given how expensive I was hourly, I elected to skip data quality in that regard as a business decision; the underlying data did not need quality in this column to answer the questions we had. To determine if this was the right call, I ran a few MatPlotLib visualizations over the raw data to check in with my team, available in the CityPD Analysis. They liked what I had and wanted something in hand that they could begin visualizing according to brand standards. 

From there, I made several additional transformations and aggregations (cross tabulations) in Excel to prepare the data for easy analysis and visualization. Other filetypes (XSLX and PPT) in this repo use the excel created above, "BetterCityPD-Analyzed" as a baseline for the cross-tabulation. Data is available in the "Raw Data" tab.

In [6]:
import pandas as pd
import pypdf
import openpyxl

# creating a pdf reader object 
reader = pypdf.PdfReader('City PD Report Data Raw.pdf') 
  
# Extract headers from the first page
header_page = reader.pages[0]
header_text = header_page.extract_text()
header = header_text.split('\n')[0].split()

# Initialize list to store data in Pandas Series
serialized_data = []

# Create a function to iterate across each page
def process_pages(page):
    page_text = page.extract_text()
    lines = page_text.split('\n')
    # Extract headers
    data_lines = lines[1:] if page == reader.pages[0] else lines
    exceptions = ["T", "-"]

    for line in data_lines:
        # We'll need to index several ways for error handling. Below, we've created space-delimited columns
        space_separated_values = line.split()
        # This causes errors for multiple rows, where there is a space present or missing.

        # Next, we'll manually index the first column
        Report_No = line[0:9]

        # The rest of the table has nulls, variable column lengths, and iffy delimeters.

        # Using several indexing strategies, we can cleanly extract most of the columns. 

        try:
        # Manually index call numbers using the same manual indexing strategy, to account for nulls. 
            int(line [10:19]) # Validates if a call is present
            CAD_Call_No = line[10:19]

            # If a null is present, it throws off our index below. See exception.
            Reported_Date = space_separated_values[2]
            Year = space_separated_values[3]
            Month = space_separated_values[4][0:3] # slices out the month abbreviation in each jumbled string
            CrimeType_WithCall_Test1 = space_separated_values[4][3:] + " " + space_separated_values[-4]

        except:
            # When CAD_Call_No contains non-integer characters, it should still be 9 characters long.
            if any ([x in line[10:19] for x in exceptions]): 
                CAD_Call_No = line[10:19]
                Reported_Date = space_separated_values[2]
                Year = space_separated_values[3]
                Month = space_separated_values[4][0:3] # slices out the month abbreviation in each jumbled string
                CrimeType_WithCall_Test1 = space_separated_values[4][3:] + " " + space_separated_values[-4]
            else:
                # When a call number is missing, insert a null
                CAD_Call_No = "Null"

                # Because nulls offset the space-delimited index, our try/except modifies the process for the next 3 columns.
                Reported_Date = space_separated_values[1]
                Year = space_separated_values[2]
                Month = space_separated_values[3][0:3] # slices out the month abbreviation in each jumbled string
                CrimeType_WithCall_Test1 = space_separated_values[3][3:] + " " + space_separated_values[-4]

        # Finally, switch to a reverse index slice to cleanly extract the needed columns of Age and Sex

        Age = space_separated_values[-1]
        Sex = space_separated_values[-2]
        Involvement = space_separated_values[-3]

        # Program our columns into a series that can update our empty dataframe.
        row = pd.Series([Report_No, CAD_Call_No, Reported_Date, Year, Month, CrimeType_WithCall_Test1, Involvement, Sex, Age], index=header)
        serialized_data.append(row) # Stick our series into a list

# Process all pages in the PDF. For performance, the function above only iterates across one page at a time.
for i in range(len(reader.pages)):
    process_pages(reader.pages[i])

# Update the dataframe. 
df = pd.DataFrame(serialized_data, columns=header)

# Display the DataFrame for data validation
print("Main DataFrame:")
display(df)

df.to_excel("BestCityPDData.xlsx")

Main DataFrame:

,Report_No,CAD_Call_No,Reported_Date,Year,Month,Nature_of_Call,Involvement,Sex,Age
0,140000009,140100076,1/1/2014,2014,Jan,ASLT DV,VIC,M,24
1,140000022,140100154,1/1/2014,2014,Jan,ASLT DV,VIC,F,32
2,140000028,140100175,1/1/2014,2014,Jan,CCABUSE JanCCABUSE,VIC,M,48
3,140000029,140100188,1/1/2014,2014,Jan,ASLT DV,VIC,F,35
4,140000029,140100188,1/1/2014,2014,Jan,ASLT DV,VIC,M,35
...,...,...,...,...,...,...,...,...,...
20619,240015451,240705745,7/11/2024,2024,Jul,ASLT DV,VIC,F,45
20620,240015452,240705750,7/11/2024,2024,Jul,ASLT DV,VIC,F,25
20621,240015678,240707412,7/15/2024,2024,Jul,ASLT DV,VIC,F,35
20622,240015679,240707430,7/15/2024,2024,Jul,ASLT DV,VIC,F,40
20623,240015778,240708022,7/16/2024,2024,Jul,ASLT DV,VIC,M,51

This extract was almost perfect; however, a review of the data revealed a few more exceptions. 

There are 17 rows where the Sex column was left blank, throwing off my reverse slice index. A validation setting all blanks to "U" (Unknown) will solve this issue. 

Additionally, there is a single CAD_Call_No with 5 digits instead of 9. This one's annoying, as it's literally the only exception to the rule. 18/20,624 is well under .001 of the total rows, but I'm going to let my perfectionism win.

In the original project, we filtered for minors (most blank sex columns were unborn children at age 0) which removed most of the quality issues. After that, I manually corrected the remaining rows in excel, as it was less than 10 unique errors. 

Because I'm attempting to write a perfect extract in Python, I'm going to make this code more complex. Is this a waste of time? Yes. 

There's only one PDF on earth that this code will extract data from, the project is already over, and there's isn't any material benefit to having this data perfectly extracted. I understand all that, but I want to do it perfectly simply to show that I can. 

In a real work enviornment, however, I wouldn't be so stubborn about uneccesary data quality unless I was certain it would incur technical debt for the organization.

In [9]:
import pandas as pd
import pypdf
import openpyxl

# creating a pdf reader object 
reader = pypdf.PdfReader('City PD Report Data Raw.pdf') 
  
# Extract headers from the first page
header_page = reader.pages[0]
header_text = header_page.extract_text()
header = header_text.split('\n')[0].split()

# Initialize list to store data in Pandas Series
serialized_data = []

# Create a function to iterate across each page
def process_pages(page):
    page_text = page.extract_text()
    lines = page_text.split('\n')
    # Extract headers
    data_lines = lines[1:] if page == reader.pages[0] else lines
    exceptions = ["T", "-"]
    sex_validation_list = ["M", "F", "U"]

    for line in data_lines:
        # We'll need to index several ways for error handling. Below, we've created space-delimited columns
        space_separated_values = line.split()
        # This causes errors for multiple rows, where there is a space present or missing.

        # Next, we'll manually index the first column
        Report_No = line[0:9]

        # The rest of the table has nulls, variable column lengths, and iffy delimeters.

        # Using several indexing strategies, we can cleanly extract most of the columns. 

        try:
        # Manually index call numbers using the same manual indexing strategy, to account for nulls. 
            int(line [10:19]) # Validates if a call is present
            CAD_Call_No = line[10:19]

            # If a null is present, it throws off our index below. See exception.
            Reported_Date = space_separated_values[2]
            Year = space_separated_values[3]
            Month = space_separated_values[4][0:3] # slices out the month abbreviation in each jumbled string
            CrimeType_WithCall_Test1 = space_separated_values[4][3:] + " " + space_separated_values[-4]

        except:
            # When CAD_Call_No contains non-integer characters, it should still be 9 characters long.
            if any ([x in line[10:19] for x in exceptions]): 
                CAD_Call_No = line[10:19]
                Reported_Date = space_separated_values[2]
                Year = space_separated_values[3]
                Month = space_separated_values[4][0:3] # slices out the month abbreviation in each jumbled string
                CrimeType_WithCall_Test1 = space_separated_values[4][3:] + " " + space_separated_values[-4]
            else:
                # When a call number is missing, insert a null
                CAD_Call_No = "Null"

                # Because nulls offset the space-delimited index, our try/except modifies the process for the next 3 columns.
                Reported_Date = space_separated_values[1]
                Year = space_separated_values[2]
                Month = space_separated_values[3][0:3] # slices out the month abbreviation in each jumbled string
                CrimeType_WithCall_Test1 = space_separated_values[3][3:] + " " + space_separated_values[-4]

        # Finally, switch to a reverse index slice to cleanly extract the needed columns of Age and Sex
        Age = space_separated_values[-1]

        #Sex column validation
        if any (values in space_separated_values[-2] for values in sex_validation_list):
            Sex = space_separated_values[-2]
        else:
            Sex = "U"
        
        # This should always be VIC, every time, no matter what. Check validity with filters in Excel
        Involvement = space_separated_values[-3]

        # Program our columns into a series that can update our empty dataframe.
        row = pd.Series([Report_No, CAD_Call_No, Reported_Date, Year, Month, CrimeType_WithCall_Test1, Involvement, Sex, Age], index=header)
        serialized_data.append(row) # Stick our series into a list

# Process all pages in the PDF. For performance, the function above only iterates across one page at a time.
for i in range(len(reader.pages)):
    process_pages(reader.pages[i])

# Update the dataframe. 
df = pd.DataFrame(serialized_data, columns=header)

# Display the DataFrame for data validation
print("Main DataFrame:")
display(df)

df.to_excel("BestCityPDData.xlsx")

Main DataFrame:

,Report_No,CAD_Call_No,Reported_Date,Year,Month,Nature_of_Call,Involvement,Sex,Age
0,140000009,140100076,1/1/2014,2014,Jan,ASLT DV,VIC,M,24
1,140000022,140100154,1/1/2014,2014,Jan,ASLT DV,VIC,F,32
2,140000028,140100175,1/1/2014,2014,Jan,CCABUSE JanCCABUSE,VIC,M,48
3,140000029,140100188,1/1/2014,2014,Jan,ASLT DV,VIC,F,35
4,140000029,140100188,1/1/2014,2014,Jan,ASLT DV,VIC,M,35
...,...,...,...,...,...,...,...,...,...
20619,240015451,240705745,7/11/2024,2024,Jul,ASLT DV,VIC,F,45
20620,240015452,240705750,7/11/2024,2024,Jul,ASLT DV,VIC,F,25
20621,240015678,240707412,7/15/2024,2024,Jul,ASLT DV,VIC,F,35
20622,240015679,240707430,7/15/2024,2024,Jul,ASLT DV,VIC,F,40
20623,240015778,240708022,7/16/2024,2024,Jul,ASLT DV,VIC,M,51

In [ ]:
            # There is a single instance of a 5-digit CAD_Call_No
            if any ([x in line[15:19] for x in truncate_logic]): CAD_Call_No = line[10:15]